$gridView-card-background: #F9F8F4;
$gridView-card-header-color: darken( #9E6138, 20);

$cargo-list-text-color: #000;
$cargo-list-background-odd: darken(#F9F8F4, 5);
$cargo-list-background-even: darken(#F9F8F4, 3);


.gridView{
	
	.card{
		
		float: left;
		width: 100%;
		margin: 0;
		padding: 0.5rem;
				
		.card-inner{
			
			background-color: $gridView-card-background;
			border-radius: 0.25rem;
			padding: 1rem;
			//box-shadow: 0 0 0.5rem rgba(0,0,0,0.25), -1px -1px 3px rgba(0,0,0,0.10) inset, 1px 1px 3px rgba(255,255,255,0.10) inset;
		}
			
		h3{
			
			font-size: 1.2rem;
			line-height: 1.3rem;
			margin: 0 0 0.5rem 0;
			
			a{
				color: $gridView-card-header-color;
			}
				
			&:before{
				font-family: FontAwesome;
				margin-right: 0.4em;
				font-weight: normal;
				font-style: normal;
				-webkit-font-smoothing: antialiased;
			}
	
		}

		/*
		&.city h3:before{
			
			content: "\f13d";
			
		}
	
		&.ship h3:before{
			
			content: "\f21a";
			
		}
		*/
		
		
	}
	
}



.cargo{
	border-radius: 0.25rem;
	font-size: 0.9rem;
	overflow: hidden;

	
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		
		li{
			
			margin: 0;
			padding: 0.75rem 1rem;
			line-height: 1rem;
			white-space: nowrap;
			overflow: hidden;
			background-color: $cargo-list-background-odd;
			
			color: $cargo-list-text-color;
			
			&:nth-child(even){
				
				background-color: $cargo-list-background-even;
				
			}
			
			&:last-child{
					border-bottom: none;							
			}
			
			span.qty{
				
				float: right;
				
			}
		}
	}
	
}
		
.ship{ 
	
	
	.route{
		background-color: #f7f7f7;
		border-radius: 0.25rem;
		padding: 0;
		height: 3rem;
		position: relative;
		overflow: hidden;
		margin-bottom: 1rem;
		
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			
			
			li{
				margin: 0;
				padding: 0;
				display: block;
				height: 3rem;
				line-height: 3rem;
				padding: 0 1rem;
				float: left;
				position: relative;
				
				&.current{
					
					color: #999;
					
					&:before{
						content: "\f041";	
					}
				}
				
				&.origin{
			
			
					&:before{
						content: "\f10c";
					}
					
				}
				
				&.destination{
					
					float: right;
					
					&:before{
						content: "\f041";	
					}
					
				}
				
				&:before{
					font-family: FontAwesome;
					margin-right: 0.4rem;
					font-weight: normal;
					font-style: normal;
					-webkit-font-smoothing: antialiased;
				}
			}
		}
		
		&.active{
			background-color: #C2B49A;
			color: #fff;
			
			ul:before{
					
				display: block;
				content: " ";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				height: 3rem;
				background-color: rgba(0,0,0,0.2);
			    -webkit-transition: width 500ms;
			    transition: width 500ms;
				background: -moz-linear-gradient(left, rgba(255,255,255,0.13) 0%, rgba(255,255,255,0.13) 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 100%);
				background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.13)), color-stop(50%, rgba(255,255,255,0.13)), color-stop(50%, rgba(255,255,255,0.15)), color-stop(100%, rgba(255,255,255,0.15)));
				background: -webkit-linear-gradient(left, rgba(255,255,255,0.13) 0%, rgba(255,255,255,0.13) 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 100%);
				background: -o-linear-gradient(left, rgba(255,255,255,0.13) 0%, rgba(255,255,255,0.13) 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 100%);
				background: -ms-linear-gradient(left, rgba(255,255,255,0.13) 0%, rgba(255,255,255,0.13) 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 100%);
				background: linear-gradient(to right, rgba(255,255,255,0.13) 0%, rgba(255,255,255,0.13) 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
				background-size: 3rem;
				-webkit-animation-name: animateProgressBar;
				-webkit-animation-duration: 1s;
				-webkit-animation-timing-function: linear;
				-webkit-animation-delay: 0;
				-webkit-animation-iteration-count: infinite;
				-webkit-animation-direction: normal;
				-webkit-animation-fill-mode: forwards;
				animation-name: animateProgressBar;
				animation-duration: 1s;
				animation-timing-function: linear;
				animation-delay: 0;
				animation-iteration-count: infinite;
				animation-direction: normal;
				animation-fill-mode: forwards;
			}
			
			@for $i from 1 through 100{
			  &[data-progress="#{$i}"] ul:before{ width: unquote($i + "%");}
			}
				
				
			@mixin route-icon(){
				font-family: FontAwesome;
				font-weight: normal;
				font-style: normal;
				-webkit-font-smoothing: antialiased;
				display: block;
				position: absolute;
				left: 50%;
				top: 0.5rem;
				bottom: 0.5rem;
				margin-left: -0.5rem;
				width: 1rem;
				height: 2rem;
				font-size: 1.2rem;
				line-height: 2rem;
			}
			
			&.loop ul:after{
				@include route-icon(); 
				content: "\f0ec";
			}
			
			&.single ul:after{
				@include route-icon(); 
				content: "\f178";
			}
		}
	}
}



@-webkit-keyframes animateProgressBar{

	0%{
		background-position: 0;
	}
	
	100%{
		background-position: 3rem;
	}
}

@keyframes animateProgressBar{
	0%{
		background-position: 0;
	}
	
	100%{
		background-position: 3rem;
	}
}

