.item{
	&:before{
		font-family: FontAwesome;
		margin-right: 0.4rem;
		font-weight: normal;
		font-style: normal;
		-webkit-font-smoothing: antialiased;
	}
	
	&[data-name="gold"]:before{
		content: "\f0d6";
	}
	
	&[data-name="coffee"]:before{
		content: "\f0f4";	
	}
	
}
