.navbar{
	
	height: 3rem;
	position: relative;
	width: 100%;
	z-index: 100;
	background: #47413a;
	/*
	background: -moz-linear-gradient(top, #47413a 0%, #332e29 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#47413a), color-stop(100%,#332e29));
	background: -webkit-linear-gradient(top, #47413a 0%,#332e29 100%);
	background: -o-linear-gradient(top, #47413a 0%,#332e29 100%);
	background: -ms-linear-gradient(top, #47413a 0%,#332e29 100%);
	background: linear-gradient(to bottom, #47413a 0%,#332e29 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47413a', endColorstr='#332e29',GradientType=0 );
	*/
	
	ul, li{
		
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	h1{
		
		font-size: 1.4rem;
		font-weight: 400;
		margin: 0;
		float: right;
		line-height: 3rem;
		padding-right: 1rem;
		font-family: "Lobster", Helvetica, sans-serif;
		
		a{
			color: #fff;
			opacity: 0.7;
		
			&:hover{
				
					opacity: 1;
			}
		}
	}
	
	ul{
		float: left;
		position: relative;
		
		li{
			
			position: relative;
			float: left;
			height: 3rem;
			
			&:after{
				
				display: block;
				float: right;
				content: " ";
				height: 1rem;
				margin: 1rem 0;
				width: 2px;
				background-color: rgba(0,0,0,0.05);
				
			}
			
			&:last-child:after{
				
				display: none;
				
			}
			
			a{
				
				display: block;
				padding: 1rem;
				line-height: 1rem;
				height: 3rem;
				color: #fff;
				white-space: nowrap;
				overflow: hidden;
				float: left;
				outline: none;
				max-width: 100%;
				opacity: 0.7;
				
				
				i, span{
					
					display: inline-block;
					
				}
				
				i{
					
					margin-right: 0.4rem;
					
				}
				
				
				span + i{
					
					float: right;
					margin-left: 0.4rem;
					margin-right: 0;
					
				}
			}
			
			ul{
				display: none;
			}
			
			&:hover{
				
				a{
					opacity: 1;
				}
				
				ul{
					-webkit-animation-name: fadeIn;
					-webkit-animation-duration: 0.3s;
					-webkit-animation-timing-function: ease-out;
					-webkit-animation-delay: 0;
					-webkit-animation-iteration-count: 1;
					-webkit-animation-direction: normal;
					-webkit-animation-fill-mode: forwards;
					animation-name: fadeIn;
					animation-duration: 0.3s;
					animation-timing-function: ease-out;
					animation-delay: 0;
					animation-iteration-count: 1;
					animation-direction: normal;
					animation-fill-mode: forwards;

					position: absolute;
					display: block;
					top: 3rem;
					left: 0;
					background-color: #fff;
					width: 15rem;
					-webkit-box-shadow: 0 0.15rem 0.5rem 0 rgba(0,0,0,0.15);
					-moz-box-shadow: 0 0.15rem 0.5rem 0 rgba(0,0,0,0.15);
					box-shadow: 0 0.15rem 0.5rem 0 rgba(0,0,0,0.15);
					z-index: 1;
					
					li{
						
						float: none;
						
						&:after{
							
							display: none;
							
						}
						
						a{
							
							color: #777;
							background-color: #fff;
							
							span + i{
							
								position: absolute;
								right: 0;
								top: 0;
								bottom: 0;
								height: 3rem;
								width: 2rem;
								padding: 1rem 0.5rem;
								line-height: 1rem;
								
							}
							
						}
						
						ul{
							
							display: none;
							
						}
						
						&:hover{
						
							a{color: #000;}
						
							ul{
								top: 0.5rem; left: 14.5rem; display: block;
								
								li{
									a{color: #777; background-color: #fff;}
									ul{display: none;}
									
									&:hover{
						
										a{color: #000;}
									
										ul{
											display: block;
											
											li{
												a{color: #777; background-color: #fff;}
												ul{display: none;}
												
												&:hover{
						
													a{color: #000;}
												
													ul{
														display: block;
														
														li{
															a{color: #777; background-color: #fff;}
															ul{display: none;}
															
															&:hover{
						
																a{color: #000;}
															
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
						
					}
					
				}
				
			}
			
		}
		
	}
	
}


@-webkit-keyframes fadeIn{

	0%{
		opacity: 0;
	}
	
	100%{
		opacity: 1;
	}
}

@keyframes fadeIn{

	0%{
		opacity: 0;
	}
	
	100%{
		opacity: 1;
	}
}

